
/* COGS3 studyBuddy specific styles go here. */
#title {
    background-color:#A5D6D9;
}

.container-fluid {
    padding: 3% 15%
}

h1 {
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
    line-height: 1.5;
}

h3 {
    font-family: 'Trebuchet MS';
    font-weight: bold;
}

p {
    color: #8f8f8f;
    font-family: 'Trebuchet MS', sans-serif;
}

/*Navigation bar */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Trebuchet MS';
    font-size: 2.0rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px
}

.navbar-link {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}

/*Title Image */
.title-image {
    width: 60%;
    float: right
}

@media (max-width: 1028px){
    #title {
        text-align: center;
    }
    .title-image{
    position:static;
    transform: rotate(0)
    }
}

/*Features Section */
#features {
    padding: 7% 15%; 
    background-color: rgb(251, 240, 227);
    z-index: 1;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: burlywood;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #A5D6D9
}

/*Resume */
#resume {
    padding: 7% 15%;
    text-align: center;
    background-color: #A5D6D9;
    font-family: 'Trebuchet MS', sans-serif;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-image {
    width: 30%;
    margin: 40px;
}

#press {
    background-color: #A5D6D9;
    text-align: center;
}

.press-logo {
    width: 10%;
    margin: 20px 20px 50px;
}


/*Footer Section */

#footer {
    padding: 7% 15%;
    text-align: center;
    background-color:rgb(251, 240, 227)
}

#cta {
    background-color: #A5D6D9;
    color: black;
    padding: 7% 15%;
    text-align: center;
}

.cta-heading {
    font-family: 'Trebuchet MS';
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}